@font-face {
    font-family: 'press-start2p';
    src:
        url('./pressstart2p-regular-webfont.woff2') format('woff2'),
        url('./pressstart2p-regular-webfont.woff') format('woff');
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.side-bar {
    background-image: url('./markus-spiske-1LLh8k2_YFk-unsplash.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 40vw;
}

.head {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
    background-color: rgb(0 0 0 / 0.5);
    padding: 1rem;
    margin-top: 20vh;
    font-family: 'press-start2p';
}

.head p {
    font-size: 2.25rem;
}

.sections {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: sans-serif;
}

.text-container {
    padding: 3rem;
    font-size: 1.5rem;
    height: 39vh;
    box-sizing: border-box;
}

.text-container p:nth-child(1){
    margin-top: 4rem;
}

form {
    padding: 0rem 3rem 1rem 3rem;
    background-color: rgb(24,24,24);
    box-shadow: black 2px 0 1em;
}

form > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 4rem;
    
}

form > div > div {
    width: 200px;
    display: flex;
    flex-direction: column;
}

form > div > div > label{
    margin-bottom: .3rem;
}

form > div > div > input{
    padding: .25rem;
    border-radius: 5px;
    border: 1px solid white;
}

form > div > div > input:invalid{
    border-color: rgb(255, 77, 77);
}

form > div > div > input:focus{
    border-color: rgb(0, 191, 255);
    box-shadow: 2px 2px 2em 6px black;
}

.action-container {
    padding: 2rem;
}

button[type='submit'] {
    color: white;
    background-color: rgb(39, 39, 39);
    font-weight: bold;
    padding: .75rem 2.25rem;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

p > a {
    color: brown;
    text-decoration: none;
}