@font-face {
    font-family: 'press-start2p';
    src:
        url('./pressstart2p-regular-webfont.woff2') format('woff2'),
        url('./pressstart2p-regular-webfont.woff') format('woff');
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.side-bar {
    background-image: url('./markus-spiske-1LLh8k2_YFk-unsplash.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 40vw;
}

.head {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
    background-color: rgb(0 0 0 / 0.5);
    padding: 1rem;
    margin-top: 20vh;
    font-family: 'press-start2p';
}

.head p {
    font-size: 2.25rem;
}

.sections {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
}

.text-container {
    padding: 3rem;
    font-size: 1.25rem;
    font-family: sans-serif;
    height: 33vh;
    box-sizing: border-box;
}

.text-container p:nth-child(1){
    margin-top: 1rem;
}

form {
    padding: 0rem 3rem 1rem 3rem;
    background-color: rgb(24,24,24);
    box-shadow: black 2px 0 1em;
    font-family: sans-serif;
}

form > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 4rem;
    
}

form > div > div {
    width: 200px;
    display: flex;
    flex-direction: column;
}

form > div > div > label{
    margin-bottom: .3rem;
}

form > div > div > input{
    padding: .25rem;
    border-radius: 5px;
}