@font-face {
    font-family: 'press-start2p';
    src:
        url('./pressstart2p-regular-webfont.woff2') format('woff2'),
        url('./pressstart2p-regular-webfont.woff') format('woff');
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.side-bar {
    background-image: url('./markus-spiske-1LLh8k2_YFk-unsplash.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 45vw;
}

.head {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
    background-color: rgb(0 0 0 / 0.5);
    padding: 1rem;
    margin-top: 20vh;
    font-family: 'press-start2p';
}

.head p {
    font-size: 2.25rem;
}

.sections {
    width: 55vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
}