@font-face {
    font-family: 'press-start2p';
    src:
        url('./pressstart2p-regular-webfont.woff2') format('woff2'),
        url('./pressstart2p-regular-webfont.woff') format('woff');
    font-weight: bold;
}
body {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
}

.side-bar {
    background-image: url('./markus-spiske-1LLh8k2_YFk-unsplash.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 45vw;
}
